<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/sunny.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <img class="portrait" src="/img/thinkrobot.jpg" />
    </div>
    
    {{>footer}}
</body>
</html>